<nav class="w-full h-24 pl-4 flex items-center gap-4 bg-gray-700 sticky top-0 z-50">
  <a (click)="handleBrandBtnClick()" routerLink="/">G-Shop</a>
  <a (click)="handleShoppingCartNavBtnClick()" routerLink="/shopping-cart">
    <span>
      Shopping Cart ({{ shoppingCartItemsCount }})
    </span>
  </a>
  <ng-container *ngIf="authService.loggedInUser$ | async as user; else anonymousUser">
    <app-options-menu (emitUserLoggedOut)="onUserLoggedOutEvent()" [loggedInUser]="user">
    </app-options-menu>
  </ng-container>

  <ng-template #anonymousUser>
    <a (click)="loginNavBtnClicked()" routerLink="/login">Login</a>
  </ng-template>

  <app-testing-menu></app-testing-menu>

</nav>
